@model package;
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var package = (List<package>)TempData["package"];
    var cusomer_packages = (List<customer_package>)TempData["cus"];
    int number1 = 1;
    int number2 = 1;
}

<div class="breadcrumb-wrap mb-20">
    <div class="d-md-flex d-block justify-content-between align-items-center">
        <div class="left">
            <h1>Charges</h1>
        </div>
        <div class="right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item"><i class="bi bi-caret-right"></i></li>
                    <li class="breadcrumb-item active" aria-current="page">Charges</li>
                    <li class="breadcrumb-item"><i class="bi bi-caret-right"></i></li>
                    <li class="breadcrumb-item active" aria-current="page">Packages</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="col-xl-12 .col-lg-12">
    <div class="panel mb-10">
        <div class="panel-heading">
            <span>Create</span>
        </div>
        <div class="panel-body">
            <form class="row g-3" asp-action="packages" asp-controller="A_Functionality">
                <div class="col-md-4">
                    <label for="inputEmail1" class="form-label">Package_Name</label>
                    <input asp-for="p_name" class="form-control" placeholder="Enter Package Name" required>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail1" class="form-label">Package_Discount</label>
                    <input asp-for="p_dis" class="form-control" placeholder="Enter Package Discount" required>
                </div>
                <div class="col-md-4">
                    <label for="inputEmail1" class="form-label">Package_Price</label>
                    <input asp-for="p_price" class="form-control" placeholder="Enter Package Price" required>
                </div>

                <br><br>
                <div class="btn-box justify-content-end">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-xl-12 col-lg-12">
    <div class="panel mb-10">
        <div class="panel-heading">
            <span>View Packages</span>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Package Name</th>
                            <th>Package Discount</th>
                            <th>Package Price</th>
                            <th colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in package)
                        {
                            <tr>
                                <td>@(number1++)</td>
                                <td>@p.p_name</td>
                                <td>@p.p_dis%</td>
                                <td>@p.p_price$</td>
                                <td>
                                    <a class="btn btn-danger text-white" href="#" onclick="confirmDelete('@p.p_id')">DELETE</a>
                                </td>
                                <td>
                                    <a class="btn btn-success text-white" asp-action="upd_package" asp-controller="Admin" asp-route-id="@p.p_id">UPDATE</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmDelete(packageId) {
        var result = confirm("Are you sure you want to delete this package?");
        if (result) {
            window.location.href = "/A_Functionality/del_package/" + packageId; // Redirect to the delete action
        }
    }
</script>

@* view customer packages *@

<div class="col-xl-12 col-lg-12">
    <div class="panel mb-10">
        <div class="panel-heading">
            <span>View Customer Packages</span>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>User Name</th>
                            <th>Package Name</th>
                            <th>Package Discount</th>
                            <th>Package Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in cusomer_packages)
                        {
                            <tr>
                                <td>@(number2++)</td>
                                <td>@p.user_name</td>
                                <td>@p.package_name</td>
                                <td>@p.package_discount%</td>
                                <td>@p.package_price$</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>